/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}
html{
  background: url('../img/bgg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
/******************************************
/* LAYOUT
/*******************************************/
header{
  text-align: center;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#placeToSee{
  text-align: center;
  padding-top: 15px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
